body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    width: 100vw;
    height: 100vh;
}

#button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* Ensures the button stays above the canvas */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
